# Dependencies
node_modules

# Build outputs
.next
.turbo
dist
.build/

# Environment
.env*
!.env.example

# Logs
*.log

# IDE
.idea/
.vscode
*.swp

# OS
.DS_Store

# Prisma
prisma/*.db

# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
profile
*.moved-aside
DerivedData/
*.hmap
*.xccheckout
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# iOS artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspace
!default.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*~.nib
timeline.xctimeline
playground.xcworkspace
*.backup
*.bak
*.tmp
injected_container.swift

# TypeScript incremental build info
*.tsbuildinfo

# Next.js generated type declarations
next-env.d.ts
